body{
    font-family: 'Poppins';
    margin: 0;
    color: black;
}
p {
    font-size: 20px;
}

li{
    list-style: none;
    margin-right: 25px;
}
.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;

}
a{
    text-decoration: none;
    color:white;
    font-size: 14px;
    background:grey;
    padding: 20px 30px 20px 30px;
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 25px;
    margin-bottom: 40px;
}
header{
    background: url(fondo.jpg);
    height: 100vh;
    background-size: cover;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/* Empieza seccion Sobre Mi*/

h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobremi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont-p-btn{
    width: 42%;
}
.cont-p-btn p{
    font-size: 16px;
    font-weight: bold;
    
}
.pfinal{
    margin-bottom: 30px;
}

img{
     max-width: 200px;
}
.Servicio img{
    max-width: 50px;
    float: right;
}
.cont-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Servicio{
    width: 25%;
    padding: 38px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.celeste{
    background: #739dc8;
}
.gris{
    background: #99a0a9;
}
.Servicio h4{
    font-size: 24px;
    color: white;
    margin: 0;
}